.btn {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 24px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--third-text-color);
  background-color: var(--accent-color);

  border-style: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--transition-duration),
    background-color var(--transition-duration);

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: var(--third-text-color);
  }
}
