.socials__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__icon {
  fill: currentColor;
}

.socials__link {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  color: #afb1b8;

  transition: color var(--transition-duration),
    background-color var(--transition-duration);

  &:hover,
  &:focus {
    color: var(--third-text-color);
    background-color: var(--accent-color);
  }
}
